* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: #828282;
}

.main {
  width: 626px;
  margin: auto;
  text-align: center;
}

.main img {
  display: flex;
  margin-top: 64px;
}

.main h1 {
  font-size: 32px;
  font-family: "Dosis", sans-serif;
  color: #3f3d56;
  margin: 32px auto 16px;
}

h1 span#title {
  color: #ee24ff;
}

.main-text {
  color: #3f3d56;
  font-weight: 700;
}

#flutuar-name {
  font-weight: 700;
}

.main p + p {
  margin-top: 32px;
}

.line {
  width: 391px;
  height: 0px;
  margin: 64px auto 16px;
  border-top: 1px solid #eceff2;
}

.links-container {
  margin: 0px auto 40px;
}

.links-container a {
  color: #3f3d56;
  font-weight: 700;
  text-decoration: none;
}

.links-container a + a {
  margin-left: 42px;
}

.footer {
  display: flex;
  width: 100%;
}
